@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cyber-dark text-gray-100 font-sans;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Custom scrolling for code blocks */
.code-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.code-scroll::-webkit-scrollbar-track {
  background: #1a1a1a; 
}
.code-scroll::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
.code-scroll::-webkit-scrollbar-thumb:hover {
  background: #444; 
}
